# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE files (например, для VSCode или PyCharm)
.vscode/
.idea/

# Секреты
*.env
